/*Custom Styling*/
.content-block-inner {
	font-size: 3rem;
	height: 300px !important;
    -moz-user-select: none;        
	-webkit-user-select: none;        
	user-select: none;
}

div.output {
	background-color: darkgrey;
	color: white;
	height: 50px;
	font-size: 2rem;
	width: 100%;
}

body {
	font-size: 22px;
}